body{
  /* background-color: #4C4B52; */
  background-color: #B5D7FF
}


.buttn{
  margin-top: 10%;
  margin-bottom: 5%;
  background-color: #6EB825;
  border-color: black;
}
.buttn:hover{
  background-color: #3E57B8;
}
#ikony{
  visibility: hidden;
}

@media (max-width: 767px) {
  .col-6{
    margin-left: 33%;

  }


}
@media (max-width: 1024px) and (min-width: 450px){
  .container
  {
    width: auto;
  }
  .col-6{
    margin-left: 25%;

  }
  .rowek{
    text-align: center;
  }
}
.kurs, .fiszka{
  margin-top: 15vh;
/*  background-color: #3E57B8; */
  border: 1px solid black;
  padding-bottom: 1vh;
  color: antiquewhite;
}
.fiszka{

}
.wyborkursu{
  border-bottom: 2px solid #FF8259;
}
